
<div>
        <h3>Star Rating: <%= @review.star_rating %></h3>
        <h3>Title: <%= @review.book.title%></h3>

        <p>Review: <%= @review.book_review %></p><br>
        By: <%= @review.reader.username %>
        
        
    </div>